*.pyc
tags
tbb/
results/

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/tor-browser-crawler.iml

.idea/vcs.xml

.idea/workspace.xml

etc/release.xml

src/pip-delete-this-directory.txt
